### Variables

Hay una serie de reglas para nombrar variables:
1. No empezar por números
2. No se pueden usar símbolos especiales como: '".,<>/?|()!@#$~%¬-+
3. Siempre se considera mejor que se usan las variables en minúsculas
4. Evitar usar los caracteres 'I', 'O' o 'l'
5. Evitar usar palabras con significado especial en Python como list o str

### Números

Python tiene varios tipos de números, principalmente dos: **enteros o integers** (números positivos o negativos, enteros) y **floating points** (números con decimales). También los exponenciales como 4E2.

In [1]:
# Suma
1+3

4

In [1]:
# Resta
2-1

1

In [2]:
# Multiplicación
#la multiplicación se hace con el asterisco
2*5

10

In [3]:
# Division
#la división se hace con la barra diagonal
3/2

1.5

In [4]:
# Floor o división de piso (// trunca el resultado sin redondear y nos da el número entero)
#trunca el resultado y solo nos sale el número entero (cuando no queremos decimales)
3//2

1

In [5]:
# Módulo (nos da el resto)
3%2

1

In [6]:
# Potencia
#potencia se pone con dos asteriscos
2**3

8

In [7]:
# Raíces (como la potencia al revés)
#importante poner paréntesis para indicar el orden de aparición
# 1º multiplicación y división, luego sumas y restas ...
4**0.5

2.0

In [8]:
4**(1/2)

2.0

In [ ]:
# Orden de operaciones en Python
1+10*10+5

In [ ]:
(1+10)*(10+5)

In [9]:
# Asignamos números a variables
a=5

In [10]:
a

5

In [19]:
a=5

In [20]:
a

5

In [22]:
a=a+a

In [29]:
a

40

In [25]:
# Reasignamos
a=20

In [26]:
a

20

In [27]:
a=a+a

In [28]:
a

40

In [14]:
mi_valor=100
ratio=0.1
mi_precio=mi_valor*ratio
mi_precio

10.0

In [15]:
#Podemos determinar el tipo de una variable con type()
# cuando pones type (tu variable) te sale que tipo de función tienes
# por ejemplo en este caso si ponemos type(mi_valor) y nos da como resultado int significa que nuestro resultado es un número entero (en este caso 10)
#si pusieramos type (mi_precio) y nos da como resultado "float" esque el resultado es un decimal
type(mi_valor)

int

### STRINGS

Guardan piezas de texto, secuencias, etc. Son secuencias de caracteres. Se emplean comillas.

Son inmutables, una vez creada los elementos ya no se pueden modificar o cambiar. Sí que se pueden concatenar strings.

Hay funciones útiles como **upper(), lower() o split()**

Las strings se pueden mostrar con **print(), format() o f-strings()**

In [24]:
'hello'

'hello'

In [4]:
'Esto también es una string'

'Esto también es una string'

In [32]:
" esto también me lo lee como una string"

' esto también me lo lee como una string'

In [5]:
"y esto también"

'y esto también'

In [6]:
# Para algunas cosas la comilla simple no nos serviría
'i'm using this' (no lo reconoce por el apostrofe debido al ingles y da error)

SyntaxError: unterminated string literal (detected at line 2) (1773677481.py, line 2)

In [7]:
"i'm using this"

"i'm using this"

In [8]:
# Print() nos permite mostrar strings en el código
print('Hello World 1')
print('Hello World 2')
print('Use \t to print a new line') (tabulador)
print("\n") (salto de linea)
print('See what I mean?')

Hello World 1
Hello World 2
Use 	 to print a new line


See what I mean?

In [25]:
# Podemos usar len() para chequear la longitud de una string
# cuidado porque si pones un espacio se cuenta como longuitud
len("Hello World")

11

In [28]:
s= "Hello World" #(sale con comillas)
s

'Hello World'

In [10]:
print(s) (sale sin comillas)

Hello World

In [11]:
s

'Hello World'

In [31]:
a=len(s) #(guardas la longuitud del string como la variable a)
print(a) 
type(s) #(le preguntas que tipo de variable es s)

11

str

In [32]:
# En Python se empieza a contar desde el 0
# este comando te devuelve la letra en 1º posición, en nuestro caso la H
s[0]

'H'

In [39]:
s="Hello world"

In [40]:
s

'Hello world'

In [41]:
s[0]

'H'

In [42]:
s[2]
#este comando te muestra la letra en segunda posición, ojo que la primera posición es la 0

'l'

In [44]:
# Coger todo desde el caracter 1 hasta el final
s[3:]

'lo world'

In [16]:
# Coger todo desde el principio hasta el número 3 (no incluido)
# este comando muestra desde el principio hasta la posición donde quieres que acabe, en este caso el número 3
s[:3]

'Hel'

In [17]:
# Coger todo
s[:]

'Hello World'

In [18]:
s

'Hello World'

In [19]:
# Podemos coger todo menos la última
s[:-1]

'Hello Worl'

In [20]:
s[1:3]
# este comando indica de la posición 1 a la posición 3

'el'

In [21]:
s[9:]
# este comando indica de la posición 9 hasta el final de la oración

'ld'

In [22]:
# Coger todo pero yendo en pasos de 2
s[::3]

'HlWl'

In [23]:
# La mostramos al revés
s[::-1]

'dlroW olleH'

In [24]:
s[::-2]
# se muestra la frase al revés y comiendose carácteres de dos en dos

'drWolH'

In [33]:
s[0]='x'

TypeError: 'str' object does not support item assignment

In [29]:
# Concatenar
s =s + ' concatename'

In [30]:
s

'Hello World concatename concatename concatename'

In [31]:
# si que podemos usar el multiplicador para crear repetición de elementos
letter='z'
letter*10

'zzzzzzzzzz'

In [1]:
# Todo en mayúsculas (no cambia el original)
S=s.upper()

NameError: name 's' is not defined

In [2]:
S

NameError: name 'S' is not defined

In [35]:
# Todo en minúsculas
S.lower()

'hello world concatename concatename concatename'

In [36]:
# Separa la string por los espacios en blanco
s.split()

['Hello', 'World', 'concatename', 'concatename', 'concatename']

In [37]:
s.split("l")

['He', '', 'o Wor', 'd concatename concatename concatename']

In [38]:
s.split('o')

['Hell', ' W', 'rld c', 'ncatename c', 'ncatename c', 'ncatename']

In [39]:
# Tips para hacer un print bonito con las f-strings
nombre='Juan'
print(f"Él dijo que su nombre era {nombre}.")

Él dijo que su nombre era Juan.

In [41]:
print(f"El dijo que su nombre era {s}.")

El dijo que su nombre era Hello World concatename concatename concatename.

In [40]:
# Podemos meter la string literal con !r
print(f"Él dijo que su nombre era {nombre!r}.")

Él dijo que su nombre era 'Juan'.

In [42]:
nombre

'Juan'

In [43]:
print(nombre)

Juan